.ui.menu.navbar{
  border: none;
  box-shadow: none;
}

.ui.grid.middle_grid {
  margin-top: 30px;
}

.footer_background {
  height: 50px;
}

.ui.button.change_month {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
}

.ui.column.change_month_container {
  position: relative;
}
