@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  height: 100%;
}

body {
  /*margin-top: 150px !important;*/
}

@media (min-width: 61.25rem) {
  .collapsed{
    display: none !important;
  }
}

@media (max-width: 61.25rem) {
  .collapsable{
    display: none !important;
  }
  .collapsed{
    display: block;
  }
}

.landing-page, .page-container {
  font-family: 'Montserrat', sans-serif !important;
}

.page-container {
  margin-top: 150px;
  padding: 20px 50px 50px 50px;
  min-height: 70vh;
}

.landing-page {
  top: -33px;
}

.landing-text {
  font-size: 20px;
  color: whitesmoke;
  opacity: 0.75;
  text-align: left;
}

landing-header {
  font-size: 32px;
  line-height: 1.75em;
  color: orange;
  text-align: left;
}

.ui.menu .item {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: lighter !important;
  letter-spacing: 1.7px;
}

h2 {
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 2px;
}

/* Register form background. */
.landing-register-panel {
  background-color: #081B34;
  height: 100vh;
  padding: 28vh 0vh 25vh 0vh;
  color: whitesmoke;
  position: relative;
  z-index: 99;
  bottom: -50px;
  background-position: center;
  background-size: cover;
}

/* Endless sidewalk image. */
.landing-panel-1 {
  background-image: url("/images/landing-endless-sidewalk-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #081B34;
  width: 100vw;
  height: 700px;
  padding: 20vh 0vh 20vh 0vh;
}

/* Calendar image. */
.landing-panel-2 {
  background-image: url("/images/landing-calendar-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #081B34;
  width: 100vw;
  height: 700px;
  padding: 20vh 0vh 20vh 0vh;
}

/* Guy thinking image. */
.landing-panel-3 {
  background-image: url("/images/landing-guy-thinking-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #081B34;
  width: 100vw;
  height: 700px;
  padding: 20vh 0vh 20vh 0vh;
}

/* Top 3 image. */
.landing-panel-4 {
  background-image: url("/images/landing-top-3-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #081B34;
  width: 100vw;
  height: 700px;
  padding: 20vh 0vh 20vh 0vh;
}

.backgroundImage {
  background-image: url("https://images.pexels.com/photos/1472841/pexels-photo-1472841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 75vh;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#registration-form textarea:focus, #registration-form input:focus {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif !important;
}

#login-modal textarea:focus, #login-modal input:focus {
   font-family: 'Montserrat', sans-serif !important;

 }

#edit-account textarea:focus, #edit-account input:focus, #edit-account input[value]  {
  font-family: 'Montserrat', sans-serif !important;
}

#edit-account input:focus, #edit-account input[value] {
  color: lightgrey;
}

#profile-tabs a.item {
  font-weight: normal !important;
  color: grey;
}
#profile-tabs a.active.item {
  color: black;
  font-size: 1.05em
}

.navbarBackground {
  background-color: #ffed51;
}

#register-button {
  background-color: #faa952 !important;
  color: #081B34 !important;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  border-radius: 1px !important;
}

#triangle-icon {
  color: #faa952;
}

.ui.form .required.fields:not(.grouped) > .field > label:after, .ui.form .required.fields.grouped >
label:after, .ui.form .required.field > label:after, .ui.form .required.fields:not(.grouped) > .field >
.checkbox:after, .ui.form .required.field > .checkbox:after {
  content: '' !important;
}

.footerButton {
  background-color: #faa952 !important;
  margin: 21px 7px !important;
}

/**
Progress Bar
 */
.ui.progress {
  border-radius: 10em !important;
}

.ui.progress .bar {
  border-radius: 10em !important;
  background: #ffc300 !important;
}

/**
Modification of ribbon css from:
 https://css-tricks.com/snippets/css/ribbon/
*/
.ribbon {
  font-size: 16px !important;

  width: 75%;

  position: relative;
  background: #ba89b6;
  color: #fff;
  text-align: center;
  padding: .2em;
  margin: 2em auto 3em;
}
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: .7em solid #986794;
  z-index: -1;
}
.ribbon:before {
  left: -1.25em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -1.25em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

.non-semantic-protector { position: relative; z-index: 1; }
